@use 'functions';
@use 'tokens';

@mixin respond-at-most($breakpoint) {
  @media (width <= #{functions.breakpoint($breakpoint)}) {
    @content;
  }
}

@mixin focus-ring {
  outline: tokens.$size-0-5 solid tokens.$color-tertiary;
  outline-offset: tokens.$size-0-5;
}

@mixin elevated-card($level: 1) {
  @if $level == 1 {
    box-shadow: tokens.$shadow-level-1;
  } @else if $level == 2 {
    box-shadow: tokens.$shadow-level-2;
  } @else if $level == 3 {
    box-shadow: tokens.$shadow-level-3;
  } @else {
    @error 'Elevation level must be 1, 2, or 3.';
  }
}
