@use '../../styles/abstracts' as ds;

.app-header {
  min-height: ds.$size-11;
  padding-inline: ds.$size-10;
  width: 100%;

  @include ds.respond-at-most('tablet') {
    min-height: ds.$size-8;
    padding-inline: ds.$size-3;
  }

  @include ds.respond-at-most('mobile') {
    padding-inline: ds.$size-2;
  }
}
